@page
@model UniversityDatabaseManagementWebApp.Pages.Teachers.IndexModel
@{
}

<h2 class="text-center text-decoration-underline text-light">PROFESSORS</h2>

<a class="btn btn-outline-warning fw-bold btn-sm"
href="/Teachers/Create">Add Professor</a>


<table class="table table-dark table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
    </thead>
    <tbdody>
        @if (Model.teachers is not null)
        {
            @foreach (var teacher in Model.teachers)
            {
                <tr>
                    <td>@teacher.Id</td>
                    <td>@teacher.Firstname</td>
                    <td>@teacher.Lastname</td>
                    <td>
                        <a class="btn btn-outline-info fw-bold btn-sn" href="/Teachers/Update?id=@teacher.Id">Update</a>

                        <a class="btn btn-outline-danger fw-bold btn-sn" onclick="return confirm('This action will delete the specific and all related entries. Are you sure you want to proceed?')" href="/Teachers/Delete?id=@teacher.Id">Delete</a>
                    </td>
                </tr>

            }
        }
    </tbdody>
</table>