@page
@model UniversityDatabaseManagementWebApp.Pages.Teachers.UpdateModel
@{
}

<h2 class="mb-3 text-center text-light">Update Professor</h2>
@if (!Model.errorMessage.Equals(""))
{
    <h6><strong>@Model.errorMessage</strong></h6>
}

<form class="container" method="POST">
    <input type="hidden" name="id" value="@Model.teacherDTO.Id" />
    <div class="row mb-3">
        <label for="firstname" class="col-md-1 col-form-label">Firstname</label>
        <div>
            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter Firstname" value="@Model.teacherDTO.Firstname" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="lastname" class="col-md-1 col-form-label">Lastname</label>
        <div>
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Lastname" value="@Model.teacherDTO.Lastname" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-md-1 col-md-3 d-grid">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <div class="offset-md-1 col-md-3 d-grid">
            <a href="/Teachers/Index" role="button" class="btn btn-primary">Cancel</a>
        </div>
    </div>

</form>
