@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/indexhomeimgs/uni1.jpg" alt="University Library" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Knowledge</h5>
                    <p class="card-text">
                        One of the largest libraries in athens.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/indexhomeimgs/uni2.jpg" alt="University Subject" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Evolving Subjects</h5>
                    <p class="card-text">
                        We are keeping up with technology every year.<br />
                        We also develop some of them.
                       
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/indexhomeimgs/uni3.jpg" alt="University Meeting" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Alumni Meetings</h5>
                    <p class="card-text">
                        Providing opportunities to connect and expand your networks. 
                    </p>
                </div>
            </div>
        </div>
    </div> 
</div>
