@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="text-light">
    <strong>General Statement</strong>
    <br/>
    The University  will endeavor to take reasonable precautions
    to maintain privacy and security within the sphere of operations.
    The University cannot guarantee that these efforts will always be
    successful and, therefore, users must assume the risk of a breach of
    University privacy and security systems. Individuals are advised to be
    discreet and cautious in their use of our systems. The University's
    Privacy Guidelines are reviewed periodically and may be modified in the discretion
    of the University.
</p>

<p class="text-light">
    <strong>Personal Information</strong>
    <br/>
    The University recognizes and respects the importance
    of confidentiality and security of personal information
    in this increasingly open electronic age. The University does not intend
    to sell, swap, rent, or otherwise disclose for commercial purposes, outside
    the scope of ordinary University functions, your name, mailing address,
    telephone number, e-mail address, or other information you provide.
    While the University makes reasonable efforts to protect information provided
    to us, we cannot guarantee that this information will remain secure and are not
    responsible for any loss or theft.

</p>

<p class="text-light">
    <strong>Web Information</strong>
    <br />

    The University does not intend to sell, swap, rent, or otherwise
    disclose for commercial purposes, information regarding the behavior,
    habits, or demographics of those who visit University controlled websites.
    Certain parts of the University website(s) may require tracking techniques
    to follow the user's progress through courses, materials or programs or to
    verify information acquired from other sources. The University provides links
    to websites outside the eu.edu.aueb network and is not responsible for the content
    or privacy policies of any website to which it may link.
</p>

